@model TwilightSparkle.Forum.Models.Threads.SectionThreadsViewModel
@{
    ViewData["Title"] = "Section";
}

<aside id="sidebar-content">
    <nav>
        @foreach (var section in Model.Sections)
        {
        <div>
            <a href="/Threads/SectionThreads?sectionName=@(section.SectionName)" class="forum-link link">@(section.SectionName)</a>
        </div>
        }
    </nav>
</aside>
<main id="main-content">
    <div id="site-messages"></div>
    <div id="loading" class="hide">
        <img width="200" height="200" border="0" alt="My Little Pony" src="~/images/loading.gif">
        <br />
        <div class="loading-text">Please wait...</div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <button type="button" data-id="@(Model.SectionName)" id="create-thread-button" class="button">Create thread</button>
    }
    @foreach (var thread in Model.SectionThreads)
    {
        <article class="thread">
            <div class="header">
                <h1 class="thread-name"><a class="forum-link" href="/Threads/ThreadsDetails?threadId=@thread.ThreadId">@(thread.Title)</a></h1>
                <h2 class="thread-author-name">Author - @(thread.AuthorNickname)</h2>
            </div>
            <div class="thread-content">@Html.Raw(thread.Content)</div>
        </article>
    }
</main>