<html>
<head>
    <title>@ViewData["Title"] - Twilight Sparkle Forum</title>

    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
    <script src="~/js/main.js"></script>

    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico" />
</head>
<body>
<header>
    <nav>
        @Html.ActionLink("Twilight Sparkle Forum", "Index", "Home", null, new { @class = "menu-heading" })

        <ul class="menu-list">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="menu-item">
                    <a href="#" class="menu-link">@User.Identity.Name</a>
                </li>
                <li class="menu-item">
                    @using (Html.BeginForm("SignOut", "Authentication"))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:;" class="menu-link" onclick="this.closest('form').submit();return false;">Sign out</a>
                    }
                </li>
            }
            else
            {
                <li class="menu-item">
                    @Html.ActionLink("Sign In", "SignIn", "Authentication", null, new { @class = "menu-link" })
                </li>
                <li class="menu-item">
                    @Html.ActionLink("Sign Up", "SignUp", "Authentication", null, new { @class = "menu-link" })
                </li>
            }
        </ul>
    </nav>
</header>
<main>
    @RenderBody()
</main>
<footer>

</footer>
</body>
</html>